<div class="container">
    <!-- Header -->
    <header>
      <p>Our Blogs</p>


      <!-- Sub menu -->
      <nav class="submenu">
        <ul>
          <li>
            <a href="./pages/blog/blog.html">All</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Technology</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Design</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Future trends</a>
          </li>
          <li>
            <a href="./pages/blog/blog.html">Other</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <!-- Blog articles -->
      <ul class="thumbnails">
        <%= render @blogs %>
      </ul>
    </article>
  </div>
</div>

<%= link_to 'New Blog', new_blog_path %>

<%= link_to 'back', about_index_path %>