<div class="span4">
  <div class="item">
    <!-- Team member image -->
    <%= profile_image_for friend, 200 %>
    <div></div>
    <!-- Team memeber details, activated on hover -->
    <div class="about-overlay img-circle">
     <div class="social-icons sicon-white">
        <%= link_to '#', class: "sicon-facebook" do %>
          <i>Faceook</i>
        <% end %>
        <%= link_to '#', class: "sicon-twitter" do %>
          <i>Twitter</i>
        <% end %>
     </div>
    </div>
  </div>
  <!-- Team member name and function -->
  <h5>
    <%= link_to friend.title, friend %><br/>
  </h5>
</div>