<p>Friends</p>

  <article>
   <!-- List of people and description with their contact details which are visable on hover -->
    <ul class="thumbnails about-items">
       <%= render @friends %>
  <!-- Team member short info -->
    </ul>
  </article>

<%= link_to 'New Friend', new_friend_path %>
<%= link_to "Top", root_path %>
