%body
  #page-information.pages.black-bg.white.page-information
    .container
      / Header
      %header
        %h4.line-divider Information
        .row
          .span8.offset2
            %p
              Please contact us !!
      / End Header
      / Start Article
      %article
        .row-fluid
          / End Contact form
          / Contact information
          .span5.offset1
            %h5 Contact Us
            .media
              .social-icons.sicon-white.pull-left
                %i Email
              .media-body.smallFontBy08
                info@nextleaders.net
            %h5 Get social
            .social-icons.sicon-white.bordered
              = link_to "", "https://www.facebook.com/groups/151692711639352/", class: "sicon-facebook fa fa-facebook"
              = link_to "" ,"#twitter", class: "sicon-twitter fa fa-twitter"
          / End Contact information
      / End Article
    / Background map image
    #map-image
      / <img src="assets/images/pages/contact/map_bck.jpg" alt="Treble">
  / END PAGE | CONTACT
