<!-- PAGE | CONTACT -->
<div class="pages black-bg white page-information" id="page-information">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Information</h4>
      <div class="row">
        <div class="span8 offset2">
          <p>
            Please contact us !!
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Start Article -->
    <article>
      <div class="row-fluid">
        <!-- End Contact form -->
        <!-- Contact information -->
        <div class="span5 offset1">
          <h5>Contact Us</h5>
          <div class="media">
            <div class="social-icons sicon-white pull-left">
              <i>Email</i>
            </div> 
            <div class="media-body smallFontBy08">
              info@nextleaders.net
            </div>
          </div>
          <h5>Get social</h5>
          <div class="social-icons sicon-white bordered">
            <%= link_to "", "https://www.facebook.com/groups/151692711639352/", class: "sicon-facebook fa fa-facebook" %>
            <%= link_to "" ,"#twitter", class: "sicon-twitter fa fa-twitter" %>
          </div>
        </div>
        <!-- End Contact information -->
      </div>
    </article>
    <!-- End Article -->
  </div>
  <!-- Background map image -->
  <div id="map-image">
    <!-- <img src="assets/images/pages/contact/map_bck.jpg" alt="Treble"> -->
  </div>
</div>
<!-- END PAGE | CONTACT -->
