<div class="container">
  <article>
    <h1>Board</h1>
    <!-- Blog articles -->
    <ul class="thumbnails">
      <!-- Blog post -->
      <%= render @boards %>
    </ul>
  </article>
</div>
<br>

<%= link_to 'New Board', new_board_path %>
