<div class="container">
  <article>
    <h2>Board</h2>
    <!-- Blog articles -->
    <div class="row thumbnails">
      <!-- Blog post -->
      <%= render @boards %>
    </div>
  </article>
</div>
<br>

<%= link_to 'New Board', new_board_path %>
