/ #page-boards.pages.page-boards
#page-contact.pages.black-bg.white.page-contact
  .container
    %header
      %h4.line-divider Boards
      %h1 New Board
      .row
        .span8.offset2
          %p
            Make a new board here ...
    %article
      = render 'form'
