
.header_logo{
  float: left;
  margin-top:5px
}

.fixed-top
{
  background-color: #4e808e !important;
}

#main-menu li a{
  color: #fff !important;
}

// board

.content_wrapper{
	text-align: center
}

.content_wrapper p {
	margin: 20px 40px;
}

.board_opinion{
	clear: both;
}